@import "tailwindcss";



:root {
  --main-color: #ff6600;
  /* البرتقالي الأساسي */
}

@layer base {
  .main-text-color {
    @apply text-orange-500;
  }

  .main-bgcolor {
    @apply bg-orange-500;
  }

  .main-brcolor {
    @apply border-orange-500;
  }

  .main-hvbrcolor {
    @apply hover:border-orange-500;
  }

  .main-hvcolor {
    @apply hover:bg-orange-500;
  }

  .main-t-hvcolor {
    @apply hover:text-orange-500;
  }
}

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}
.rtl-text {
  direction: rtl;
  unicode-bidi: bidi-override;
}